/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1; }
  body strong {
    font-weight: 700; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #3a4090; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CSS Document*/
/*************************Top Tasbar*****************************/
/*******************Main Menu*******************/
header {
  min-height: 438px;
  position: relative;
  background-image: url("../images/fundo-slide-pagina-inicial.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
  background-attachment: fixed;
  background-size: auto; }
  header:before, header:after {
    display: table;
    content: " "; }
  header:after {
    clear: both; }
  header:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #94B2BB;
    background-image: -webkit-gradient(linear, 90deg, from(#D2AA01), to(#94B2BB));
    background-image: -webkit-linear-gradient(90deg, #D2AA01, #94B2BB);
    background-image: -moz-linear-gradient(90deg, #D2AA01, #94B2BB);
    background-image: -ms-linear-gradient(90deg, #D2AA01, #94B2BB);
    background-image: -o-linear-gradient(90deg, #D2AA01, #94B2BB);
    background-image: linear-gradient(90deg, #D2AA01, #94B2BB);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#D2AA01', EndColorStr='#94B2BB'); }
  header .logo {
    float: left;
    margin: 15px 0 0 0; }
    header .logo img {
      width: 120px;
      height: 60px; }
  header .links {
    float: right;
    margin: 34px 0 0 0; }
    header .links nav,
    header .links .social {
      display: inline-block; }
    @media (max-width: 991px) {
      header .links nav {
        display: none; } }
    @media (max-width: 440px) {
      header .links nav {
        display: none; } }
    header .links nav ul li {
      display: inline-block;
      margin: 0 20px 0 0; }
      header .links nav ul li a {
        color: white; }
    header .links .social li {
      display: inline-block;
      margin: 0 5px 0 0; }
      header .links .social li a {
        color: white;
        display: block;
        border: 1px solid white;
        width: 25px;
        height: 25px;
        line-height: 23px;
        text-align: center;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        -ms-border-radius: 120px;
        border-radius: 120px; }
  header .texto-slide {
    clear: both;
    color: #D2AA01;
    margin: 125px auto 35px auto !important;
    font-weight: 300;
    border: 3px solid white;
    padding: 20px;
    display: table;
    font-size: 40px; }
    @media (max-width: 440px) {
      header .texto-slide {
        font-size: 57px;
        font-size: 3.5625rem; } }
  header .slogan {
    color: white;
    font-size: 12px; }
    @media (max-width: 440px) {
      header .slogan {
        font-size: 18px;
        font-size: 1.125rem; } }
  header .texto-slide,
  header .slogan {
    text-align: center;
    text-transform: uppercase; }

footer .footer-bar {
  background-color: #94B2BB;
  background-image: -webkit-gradient(linear, 120deg, from(#D2AA01), to(#94B2BB));
  background-image: -webkit-linear-gradient(120deg, #D2AA01, #94B2BB);
  background-image: -moz-linear-gradient(120deg, #D2AA01, #94B2BB);
  background-image: -ms-linear-gradient(120deg, #D2AA01, #94B2BB);
  background-image: -o-linear-gradient(120deg, #D2AA01, #94B2BB);
  background-image: linear-gradient(120deg, #D2AA01, #94B2BB);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#D2AA01', EndColorStr='#94B2BB');
  height: 100px;
  margin: 50px auto -150px; }

footer .texto-rodape {
  text-align: center;
  margin: 20px auto 0; }
  @media (max-width: 440px) {
    footer .texto-rodape {
      font-size: 20px;
      font-size: 1.25rem; } }

footer .logo-rodape img {
  width: 110px;
  height: 110px;
  display: block;
  margin: 0 auto 0; }
