* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************************Top Tasbar******************************/
.bar-container {
  background: url("../images/bar.jpg");
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 220px;
}

.bar-container li {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 5px;
}

.bar-container li a {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 5px;
}

.contactos-top {
  margin-right: 760px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.contacto1:hover {
  color: #D2AA01;
}

.contacto2:hover {
  color: #D2AA01;
}

.rainbow {
  background-color: #3a4090;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
}

.rainbow:hover {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}

@keyframes slidebg {
  to {
    background-position: 20;
  }
}

.rainbow-1 {
  background-color: #3a4090;
}

.rainbow-2 {
  background-color: #846217;
}

.rainbow-3 {
  background-color: #CD2A6C;
}

/********************Main Menu********************/
header {
  background-color: white;
  height: 140px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 350px;
}

.main-menu {
  list-style: none;
  margin-top: 12px;
}

.main-menu li {
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.main-menu li a {
  text-decoration: none;
  color: black;
  padding: 7px;
}

.button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0px;
}

.button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #fff;
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  bbackground-position: 0 0;
  background-position: 400% 0;
  background-position: 0 0;
}

.header-main {
  filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(OffX=12, OffY=12, Color= "#444");
}

/*****************************Slider****************************/
.section-meio {
  background-position: center;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  height: 20px;
  text-align: center;
  text-align-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  text-align-filter: drop-shadow(OffX=12, OffY=12, Color= "#444");
}

.middle-section {
  background-color: grey;
  display: flex;
  justify-content: center;
}

.slide {
  image-resolution: from-image;
  height: 394px;
  width: 1000px;
}
