footer
	.footer-bar
		+gradient(120deg, $laranja, $cinzento-claro)
		height: 100px
		margin: 50px auto -150px


	.texto-rodape
		text-align: center
		margin: 20px auto 0
		+breakpoint($celular)
      		+font-size(20px)

	.logo-rodape
		img
			width: 110px
			height: 110px
			display: block
			margin: 0 auto 0